body {
    background-color: mediumspringgreen;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a {
    text-decoration: none;
}

.header {
    background-color: black;
    position: fixed;
    width: 100vw;
    margin: 0;
    top: 0;
    padding: 0;
}

.menu {
    width: 100%;
    margin: 0;
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: center;
}


.menu__link {
    display: block;
    border: 1px solid;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    margin: 0.5em;
    background-color: white;
}
.sidebar {
    margin: 2em;
}
    
.footer {
    padding: 0.5em;
    color: white;
    background-color: black;
    text-align: center;
    width: 100%;
    margin-top: auto;
}


.main {
    margin: 3em;
}
.main-home, .main-project, .main-contact {
    text-align: center;
}
.user__img {
    width: 30%;
    height: auto;
    border-radius: 100%;
}

.education__level, .advice__header {
    font-size: large;
}

.achievements__list {
    list-style-type: none;
    padding-left:0;
}
.achievements, .advice {
    text-align: center;
}

.certificate__img {
    width: 80%;
    height: auto;
}

.contact__img {
    width: 40%;
    height: auto;
    border-radius: 100%;
}
.project, .certificate {
    margin: auto 0;
}

.project__img {
    width: 100%;
    height: auto;
    border-radius: 0.2em;
}
.main-project{
    margin-top: 4em;
}
.testimony__video {
    width: 80%;
    height: auto;
    /* margin: auto; */
}
.testimony {
    text-align: center;
}
.tech-stack {
    text-align: left;
}
.stack {
    padding-right: 0.5em;
}
.menu--current {
    background-color: violet    ;
}



@media (max-width: 1000px) {
    .user__img {
        width: 50%;
    }
}
@media (max-width: 500px) {
    .user__img {
        width: 60%;
    }
    .testimony__video {
        width: 100%;
    }
}
@media (max-width: 400px) {
    .user__img {
        width: 80%;
    }
}
@media (max-width: 300px) {
    .user__img {
        width: 100%;
    }
}

@media (min-width: 600px) {
    .project__img {
        width: 80%;
    }
}

@media (min-width: 1000px) {
    .project__img {
        width: 60%;
    }
}

@media (min-width: 700px) {
    .contact__img {
        width: 20%;
    }
    .certificate__img {
        width: 100%;
    }
}
